/.env
/data/db/*
/data/router/etc/letsencrypt/*
/data/router/usr/local/etc/haproxy/certs

# git-secret
.gitsecret/keys/random_seed
!*.secret
/vault/.env.dev
/vault/*.asc

# IntelliJ
.idea
*.iml

# MacOS
.DS_Store

# Owasp temporal reports
/activescan-report.html
/baselinescan-report.txt
